@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Inter', sans-serif;
  background: #000000;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
}

@layer base {
  :root {
    --background: 222 47% 4%;
    --primary: 190, 95%, 40%;
    --foreground: 213 31% 91%;
    --border: 217 33% 20%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply text-foreground transition-colors duration-300;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  html {
    scroll-behavior: smooth !important;
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }
}
